<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208669910941-uh1plcvvp6uhudfehta5q4ftpebmofjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208669910941-uh1plcvvp6uhudfehta5q4ftpebmofjv</string>
	<key>API_KEY</key>
	<string>AIzaSyDA21QEQz_OiftJ5tcgFHYx7dewBHO_0T4</string>
	<key>GCM_SENDER_ID</key>
	<string>208669910941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kcashew.FlexAura</string>
	<key>PROJECT_ID</key>
	<string>flexaura-23</string>
	<key>STORAGE_BUCKET</key>
	<string>flexaura-23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208669910941:ios:c9a7c2b167d3980e30f174</string>
</dict>
</plist>